<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>

		<script is:raw>
			window.addEventListener("load", function() {
			  setTimeout(function() {
				var script = document.createElement("script");
				script.src = "https://www.googletagmanager.com/gtag/js?id=G-F5MBY27XES";
				script.async = true;
				document.head.appendChild(script);
		
				script.onload = function() {
				  window.dataLayer = window.dataLayer || [];
				  function gtag(){dataLayer.push(arguments);}
				  gtag('js', new Date());
				  gtag('config', 'G-F5MBY27XES');
				};
			  }, 3000); // Delays GA by 3 seconds after the page loads
			});
		  </script>
	
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
